# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# Virtual environments
venv/
.env/

# Logs and databases
*.log
*.sqlite3

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/
*.swp